#### public submissions:

&nbsp;

#### Groupe.3 &nbsp; 0.976_158

- 3.1 - v.1 - [PS-S5E7: Don't Look at Me...](https://www.kaggle.com/code/paddykb/ps-s5e7-don-t-look-at-me) - by master [paddykb](https://www.kaggle.com/paddykb)
- 3.2 - v.1 - [Achieved ACCURACY SCORE OF(0.976158)üòâüëç](https://www.kaggle.com/code/shine20905/achieved-accuracy-score-of-0-976158/output) - by contributor [Shine Muji](https://www.kaggle.com/shine20905)
- 3.3 - v.7 - [CV : 0.9712 | LB : 0.976518 | PLS UPVOTE üòÅ](https://www.kaggle.com/code/arnavsuiiiiiiiiiiii/cv-0-9712-lb-0-976518-pls-upvote/notebook) - by expert [Arnav Pandey](https://www.kaggle.com/arnavsuiiiiiiiiiiii)
- 3.4 - v.1 - [S5-E7| XGB | IterativeImputer](https://www.kaggle.com/code/sedattun/s5-e7-xgb-iterativeimputer/notebook) - by contributor [Sedat Tun√ß](https://www.kaggle.com/sedattun)
- 3.5 - v.1 - [SCORE: 0.976518 PS SS5E7](https://www.kaggle.com/code/shalmamuji/score-0-976518-ps-ss5e7/notebook) - by expert [Shalma Muji](https://www.kaggle.com/shalmamuji)
- 3.6 - v.5 - [S05E07 | Personality Type Prediction | Ensemble
](https://www.kaggle.com/code/ravaghi/s05e07-personality-type-prediction-ensemble) - by master [Mahdi Ravaghi](https://www.kaggle.com/ravaghi)
- 3.7 - v.4 - [üî•Top 4% | 0.976518! | Three Secrets to a High ScoreÔºÅ](https://www.kaggle.com/code/hzning/top-4-0-976518-three-secrets-to-a-high-score/notebook?scriptVersionId=249506967) - by expert [H-Z-Ning](https://www.kaggle.com/hzning)
- 3.8 - v.7 - [H20üìàPredict‚ûïIntrovertsüòÄfromüç∞Extroverts](https://www.kaggle.com/code/satyaprakashshukl/h20-predict-introverts-from-extroverts) - by grandmaster [Satya](https://www.kaggle.com/satyaprakashshukl)
- 3.9 - v.9 - [S5E7-Ensemble(XGBoost,LGBM,LogisticRegression,HBG)](https://www.kaggle.com/code/starkjone/s5e7-ensemble-xgboost-lgbm-logisticregression-hbg/notebook) - by contributor [Stark Jone](https://www.kaggle.com/starkjone)
- 310 - v.6 - [üöÄ0.976518üìà|Random Forest Boost](https://www.kaggle.com/code/elihaciyev/0-976518-random-forest-boost/notebook?scriptVersionId=249502028) - by expert [Eli Haciyev](https://www.kaggle.com/elihaciyev)

notes: subms.(3.4, 3.5, 3.6) 100% equals


#### Groupe.4 &nbsp; 0.975_708

- 4.1 - v.1 - [Predict the Introverts from the Extroverts](https://www.kaggle.com/code/vishnupriyagarige/predict-the-introverts-from-the-extroverts) - by master [Vishnupriya](https://www.kaggle.com/vishnupriyagarige)
- 4.2 - v.2 - [S5E7 | Basic XGBoost + Original data](https://www.kaggle.com/code/akston/s5e7-basic-xgboost-original-data/output) - by contributor [Maksim Kulik](https://www.kaggle.com/akston)
- 4.3 - v.1 - [S5E7 || Baseline XGB](https://www.kaggle.com/code/abdmental01/s5e7-baseline-xgb) - by grandmaster [Sheikh Muhammad Abdullah](https://www.kaggle.com/abdmental01)
- 4.4 - v.7 - [S5E7 | Basic EDA+XGBoost+Voting](https://www.kaggle.com/code/suthcong/s5e7-basic-eda-xgboost-voting/output) - by contributor [Su Thanh Cong](https://www.kaggle.com/suthcong)
- 4.5 - v.1 - [S5E7 || Baseline XGB OOF output](https://www.kaggle.com/code/jaxa623/s5e7-baseline-xgb-oof-output) - by expert [sdy623](https://www.kaggle.com/jaxa623)
- 4.6 - v.3 - [SHORTEST Solution - Less than 20 lines](https://www.kaggle.com/code/taimour/shortest-solution-less-than-20-lines) - by expert [Taimour Nazar](https://www.kaggle.com/taimour)
- 4.7 - v.1 - [PSS5E7 : medium_quality : gpu](https://www.kaggle.com/code/gauravduttakiit/pss5e7-medium-quality-gpu) - by master [Gaurav Dutta](https://www.kaggle.com/gauravduttakiit)
- 4.8 - v.1 - [PSS5E7 : good_quality   : gpu](https://www.kaggle.com/code/gauravduttakiit/pss5e7-good-quality-gpu) - by master [Gaurav Dutta](https://www.kaggle.com/gauravduttakiit)
- 4.9 - v.1 - [PS-S5E7: Personality Classification with XGBoost
](https://www.kaggle.com/code/canozensoy/ps-s5e7-personality-classification-with-xgboost) - by master [Can √ñzensoy](https://www.kaggle.com/canozensoy)
- 410 - v.1 - [Intro-Extro | Basic Vis-EDA | Catboost | Py](https://www.kaggle.com/code/khsamaha/intro-extro-basic-vis-eda-catboost-py) by master [Kheirallah Samaha](https://www.kaggle.com/khsamaha)

#### Groupe.5 &nbsp; 0.974_898

- 5.1 - v.2 - [S05E07 | Personality Type Prediction | Ensemble](https://www.kaggle.com/code/ravaghi/s05e07-personality-type-prediction-ensemble) - by master [Mahdi Ravaghi](https://www.kaggle.com/ravaghi)
- 5.2 - v.1 - [üèÜ Mode of 5 Best Model ( 0.974898 Score )üèÜ](https://www.kaggle.com/code/samasiayushman/mode-of-5-best-model-0-974898-score) - by expert [Ayusman Samasi](https://www.kaggle.com/samasiayushman)
- 5.3 - v.1 - [S5E7|| it's time for Ensemble](https://www.kaggle.com/code/chikonzeroselemani/s5e7-it-s-time-for-ensemble) - by expert [CHIKONZERO SELEMANi](https://www.kaggle.com/chikonzeroselemani)
- 5.4 - v.1 - [Benchmark Model: Ex_or_In-trovert](https://www.kaggle.com/code/mariusborel/benchmark-model-ex-or-in-trovert) - by expert [Marius B](https://www.kaggle.com/mariusborel)
- 5.5 - v.2 - [ü§îüòéPS S5/E07 - Introverts and Extroverts](https://www.kaggle.com/code/docxian/ps-s5-e07-introverts-and-extroverts) - by master [Chris X](https://www.kaggle.com/docxian)
- 5.6 - v.1 - [XGBoost RepeatedStratifiedKFold (S5E7)](https://www.kaggle.com/code/jaxa623/xgboost-repeatedstratifiedkfold-s5e7) - by expert [sdy623](https://www.kaggle.com/jaxa623)
- 5.7 - v.2 - [S5E7 - aren't you all drained after socializing?](https://www.kaggle.com/code/lucabasa/s5e7-aren-t-you-all-drained-after-socializing) - by master [Luca Basanisi](https://www.kaggle.com/lucabasa)
- 5.8 - v.3 - [XGBClassifier + Original Dataset](https://www.kaggle.com/code/emircansoftware/xgbclassifier-original-dataset) - by expert [Emircan G√ºne≈ü](https://www.kaggle.com/emircansoftware)
- 5.9 - v.1 - [S05E07 | Personality Type Prediction | AutoGluon](https://www.kaggle.com/code/ravaghi/s05e07-personality-type-prediction-autogluon) by master [Mahdi Ravaghi](https://www.kaggle.com/ravaghi)
- 510 - v.1 - [üå≥ DecisionTree NumPy | Simple code](https://www.kaggle.com/code/antonoof/decisiontree-numpy-simple-code) - by expert [Antonoof](https://www.kaggle.com/antonoof)

## First glance

[We're All Ambiverts!](https://www.kaggle.com/code/mpwolke/we-re-all-ambiverts), by granmaster [Mar√≠lia Prata](https://www.kaggle.com/mpwolke)

code: [ensemble:Predicting Optimal Fertilizers](https://www.kaggle.com/code/kakuteki/ensemble-predicting-optimal-fertilizers) by Japanese expert [kakuteki](https://www.kaggle.com/kakuteki)

In [1]:
import pandas as pd
import seaborn as sns
from collections import Counter
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')


path_to_subm = "/kaggle/input/10-july-2025-ps-s5e7/"
path_to_work = "/kaggle/working/"

st_names_gr3 = [f'3.{i}' for i in range(1,11)]
st_names_gr4 = [f'4.{i}' for i in range(1,11)]
st_names_gr5 = [f'5.{i}' for i in range(1,11)]

st_names     = st_names_gr3 + st_names_gr4 + st_names_gr5

st_names_grs = [st_names_gr3, st_names_gr4, st_names_gr5]


def load_submissions(path, file_names):
    dfs = [pd.read_csv(f'{path}{file_names[i]}'+".csv") for i in range(0,len(file_names))]
    for i in range(0,len(dfs)):
        dfs[i].rename(columns={'Personality': f'{file_names[i]}'}, inplace=True)
    dfsm = pd.merge(dfs[0], dfs[1], on="id")
    for i in range(2,len(dfs)):
        dfsm = pd.merge(dfsm,dfs[i],on='id')
    return dfsm


def majority_vote(row,  file_names=st_names):
    preds = [row[col] for col in file_names]
    count = Counter(preds)
    top = count.most_common()
    return top[0][0]


def pswd_wts_vote(row, gCols, wts):
    intro,extro = 0,0
    if len(gCols) != len(wts): return None
    for i in range(len(wts)):
        for col in gCols[i]:
            if row[col] == "Introvert":
                intro += wts[i]
            else: extro += wts[i]
    if intro >= extro: return "Introvert"
    return "Extrovert"


def major(dfsm,st_names,st_names_grs,wts):
    dfsm['Persona_maj'] = dfsm.apply(lambda x: majority_vote(x,st_names), axis=1)
    dfsm['Persona_wts'] = dfsm.apply(lambda x: pswd_wts_vote(x,st_names_grs,wts), axis=1)
    df_maj = dfsm[['id', 'Persona_maj']]
    df_wts = dfsm[['id', 'Persona_wts']]
    df_maj.to_csv(path_to_work + f"submission_maj_{str(wts)}.csv", index=False)
    df_wts.to_csv(path_to_work + f"submission_wts_{str(wts)}.csv", index=False)
    df_compare = dfsm.query('Persona_maj != Persona_wts')
    display(df_compare[['id','Persona_maj','Persona_wts']])
    return df_wts,df_maj


def load(path,st_names):
    dfs = [pd.read_csv(path + name_subm +'.csv') for name_subm in st_names]
    for i in range(len(dfs)):
        dfs[i] = dfs[i].rename(columns={'Personality': f'{st_names[i]}'})
    dfsm = pd.merge(dfs[0], dfs[1], on="id")
    for i in range(2,len(dfs)):
        dfsm = pd.merge(dfsm,dfs[i],on='id')
    return dfsm


def make_list_vs(st_names):
    list = []
    for i in range(0,len(st_names)-1):
        for j in range(i+1,len(st_names)):
            list.append(st_names[i] + "_vs_" + st_names[j])
    return list


def equ_tt(x,target_1,target_2, pie):
    if pie == -1:
        if x[target_1]==x[target_2]:
            return 0
    else:
        if x[target_1].split()[pie] == x[target_2].split()[pie]:
            return 0
    return 1


def get_mvs(dfs, list_vs,pie):
    for vs in list_vs:
        t = vs.split('_vs_')
        dfs[vs] = dfs.apply(lambda x: equ_tt(x,t[0],t[1],pie), axis=1)
    return dfs


def query_Q_vs(name, st_names, list_vs, dfs):
    Q = []
    for st in st_names:
        vs_between = name + "_vs_" + st
        if vs_between not in list_vs:
            Q.append(0)
        else: Q.append(dfs[vs_between].sum())
    return Q


def matrix_vs(st_names,dfs,pie=-1):
    list_vs = make_list_vs(st_names)
    mvs = get_mvs(dfs, list_vs, pie)
    m1 = pd.DataFrame({'subm':st_names})
    m2 = pd.DataFrame({ name :query_Q_vs(name, st_names, list_vs, mvs) for name in st_names})
    matrix_df = pd.concat([m1,m2],axis=1)
    return matrix_df


dfs = load(path_to_subm, st_names_gr3)
matrix = matrix_vs(st_names_gr3, dfs, -1)
display(matrix)

dfs = load(path_to_subm, st_names_gr4)
matrix = matrix_vs(st_names_gr4, dfs, -1)
display(matrix)

dfs = load(path_to_subm, st_names_gr5)
matrix = matrix_vs(st_names_gr5, dfs, -1)
display(matrix)


dfsm = load_submissions(path_to_subm, st_names)

df1,_  = major(dfsm.copy(),st_names,st_names_grs,[10,5,3]) # LB=0.976_518, v.14 <
df2,_  = major(dfsm.copy(),st_names,st_names_grs,[10,3,1]) # LB=0.976_518, v.15
df3,_  = major(dfsm.copy(),st_names,st_names_grs,[10,2,1]) # LB=0.976_518, v.16

_,df4  = major(dfsm.copy(),st_names,st_names_grs,[ 7,7,7]) # LB=0.975_708, v.17

df5,_  = major(dfsm.copy(),st_names,st_names_grs,[10,5,4]) # LB=0.97?_---, v.18


df     = df5
df.to_csv("submission.csv", index=False)
df

   subm  3.1  3.2  3.3  3.4  3.5  3.6  3.7  3.8  3.9  3.10
0   3.1    0    0    0    0    0    0    0    0    0     0
1   3.2    5    0    0    0    0    0    0    0    0     0
2   3.3    3    8    0    0    0    0    0    0    0     0
3   3.4    0    5    3    0    0    0    0    0    0     0
4   3.5    5    0    8    5    0    0    0    0    0     0
5   3.6    9   12    8    9   12    0    0    0    0     0
6   3.7    7    6   10    7    6   14    0    0    0     0
7   3.8    7    6   10    7    6   14    4    0    0     0
8   3.9    1    4    4    1    4   10    6    6    0     0
9  3.10    6    7    9    6    7   13    7    7    7     0

   subm  4.1  4.2  4.3  4.4  4.5  4.6  4.7  4.8  4.9  4.10
0   4.1    0    0    0    0    0    0    0    0    0     0
1   4.2    5    0    0    0    0    0    0    0    0     0
2   4.3    6    5    0    0    0    0    0    0    0     0
3   4.4    6    3    6    0    0    0    0    0    0     0
4   4.5    7    4    1    5    0    0    0    0    0     0
5   4.6    5    2    5    3    4    0    0    0    0     0
6   4.7    3    4    5    5    6    4    0    0    0     0
7   4.8    4    3    4    4    5    1    3    0    0     0
8   4.9    5    2    5    3    4    0    4    1    0     0
9  4.10    6    5    8    4    7    5    7    6    5     0

   subm  5.1  5.2  5.3  5.4  5.5  5.6  5.7  5.8  5.9  5.10
0   5.1    0    0    0    0    0    0    0    0    0     0
1   5.2    5    0    0    0    0    0    0    0    0     0
2   5.3    7    6    0    0    0    0    0    0    0     0
3   5.4    7    6    8    0    0    0    0    0    0     0
4   5.5    4    7    9   11    0    0    0    0    0     0
5   5.6    7   12   12   14   11    0    0    0    0     0
6   5.7    5    8   10   12    1   12    0    0    0     0
7   5.8    8   11   15    9   10   15   11    0    0     0
8   5.9    4    7   11    7    6   11    7    6    0     0
9  5.10  259  262  260  258  259  264  260  261  259     0

         id Persona_maj Persona_wts
611   19135   Introvert   Extrovert
1007  19531   Introvert   Extrovert
2135  20659   Introvert   Extrovert
2742  21266   Introvert   Extrovert
3396  21920   Introvert   Extrovert
3957  22481   Introvert   Extrovert
5131  23655   Introvert   Extrovert

         id Persona_maj Persona_wts
611   19135   Introvert   Extrovert
1007  19531   Introvert   Extrovert
2135  20659   Introvert   Extrovert
2742  21266   Introvert   Extrovert
3396  21920   Introvert   Extrovert
3957  22481   Introvert   Extrovert
5131  23655   Introvert   Extrovert

         id Persona_maj Persona_wts
611   19135   Introvert   Extrovert
1007  19531   Introvert   Extrovert
2135  20659   Introvert   Extrovert
2742  21266   Introvert   Extrovert
3396  21920   Introvert   Extrovert
3957  22481   Introvert   Extrovert
5131  23655   Introvert   Extrovert
5481  24005   Extrovert   Introvert

Empty DataFrame
Columns: [id, Persona_maj, Persona_wts]
Index: []

         id Persona_maj Persona_wts
611   19135   Introvert   Extrovert
1007  19531   Introvert   Extrovert
2135  20659   Introvert   Extrovert
2742  21266   Introvert   Extrovert
3396  21920   Introvert   Extrovert
3957  22481   Introvert   Extrovert
5131  23655   Introvert   Extrovert

         id Persona_wts
0     18524   Extrovert
1     18525   Introvert
2     18526   Extrovert
3     18527   Extrovert
4     18528   Introvert
...     ...         ...
6170  24694   Extrovert
6171  24695   Introvert
6172  24696   Extrovert
6173  24697   Extrovert
6174  24698   Introvert

[6175 rows x 2 columns]